body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-image: url(../img/food2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding: 17% 0%;
}

h1{
    text-align: center;
    color: rgb(73, 138, 73);
    font-weight: 400;
    font-size: 2.5em;
}

#formSearch{
    text-align: center;
}

#searchInput{
    padding: 15px 15px;
    padding-left: 50px;
    border-radius: 20px;
    border: solid 1px whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 60%;
    font-size: 1em;
    font-weight: 200;
    margin: 40px;
    outline: none;
    border: 2px solid transparent;
    /*transition: 0.4s ease-in-out;*/
}

#searchInput:focus{
    border: 2px solid rgb(100, 146, 100);
    /*width: 60%;*/
}

#button{
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 2px transparent;
    background-color: rgb(100, 146, 100);
    color: white;
    font-size: 1em;
    font-weight: 600;
}

#button-deux{
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 2px transparent;
    background-color: #D99559;
    color: white;
    font-size: 1em;
    font-weight: 600;
}

#button:hover{
    background-color: transparent;
    color: rgb(100, 146, 100);
    cursor: pointer;
    transition: all 0.3s;
    border: solid 2px;
}

#button-deux:hover{
    background-color: transparent;
    color: #D99559;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 2px;
}

#search{
    position: relative;
}

.fa-search{
    position: absolute;
    top: 58px;
    left: 19%;
    color: gray;
}

h2{
    color: rgb(73, 138, 73);
    font-weight: 400;
}

#recipesList{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.card{
    width: 30%;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    border: solid 1px transparent;
    box-shadow: rgba(0, 0, 0, 0.329) 0px 18px 18px;
    font-weight: 400;
    background-color: #799681a6;
    overflow: hidden;
    color: whitesmoke;
    text-align: center;
}

img{
    width: 100%;
}

h3{
    font-weight: 700;
    padding: 5px 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
}

#formCalories{
    margin: 30px;
}

#formTime{
    margin: 30px;
}

#formCT{
    margin: 30px;
}